{% extends "base.html" %}
{% block content %} 



<div class="container posts ">
	<div class="column">
		<form action="" method="POST">
			{{ form.hidden_tag() }}

			{{ form.title.label(class="label") }}
			{{ form.title(class="input is-normal is-rounded") }}
			<hr>
			{{ form.description.label(class="label") }}
			{{ form.description(class="input is-normal", rows="5") }}

			{{ form.content.label(class="label") }}
			{{ form.content(class="input is-normal", rows="5") }}

			{{ form.author.label(class="label") }}
			{{ form.author(class="input is-normal is-rounded") }}

			{{ form.slug.label(class="label") }}
			{{ form.slug(class="input is-normal is-rounded") }}

			{{ form.submit(class="button is-success is-ligh mt-5")}}
		</form>
	</div>
</div>

{% endblock %}
