<nav>
    <ul class="list-ico">
        <!-- <li><a href="{{url_for('home')}}">Inicio</a></li>
        <li><a href="{{url_for('post')}}">Blog</a></li> -->
        <!-- <li><a href="{{url_for('add_post')}}">Crear Post</a></li> -->
        <a href="{{url_for('login')}}"><i class="icomoon-nav-ico icon-user-plus"></i></a>
        <!-- <a href="{{url_for('dashboard')}}"><i class="icomoon-nav-ico icon-meter"></i></a> -->
    </ul>

    <label for="toogle" class="icon-bars">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </label>
</nav>
