<nav>
    <ul class="list-ico">
        <!-- <li><a href="{{url_for('home')}}">Inicio</a></li>
        <li><a href="{{url_for('post')}}">Blog</a></li> -->
        <!-- <li><a href="{{url_for('add_post')}}">Crear Post</a></li> -->

        <!-- si el usuario está logueado desaparece el icono para iniciar sesion -->
        {%if current_user.is_authenticated%}
            <a href="{{url_for('dashboard')}}"><i class="icomoon-nav-ico icon-meter"></i></a>
        {%else%}
            <a href="{{url_for('advanceSearch')}}"><i class="icomoon-nav-ico icon-eye"></i></a>
            <a href="{{url_for('login')}}"><i class="icomoon-nav-ico icon-user-plus"></i></a>
            <a href="{{url_for('dashboard')}}"><i class="icomoon-nav-ico icon-meter"></i></a>
        {%endif%}
    
    </ul>

    <label for="toogle" class="icon-bars">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </label>
</nav>
